@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: conic-gradient(
    #9dc08b 0%,
    #9dc08b 40%,
    #609966 80%,
    #9dc08b 100%
  );

  animation-duration: 20s;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.move-arrow {
  animation: move 0.5s infinite alternate;
}

.link {
  font-weight: 600;
}

* {
  color: #374151;
}
